<div class="container">
    <div class="card mw-400 m-auto" style="margin-top:100px !important;">
        <div class="card-header text-center">Sign in to your dashboard</div>
        <div class="card-body">

            <form [formGroup]="signInFormGroup" (ngSubmit)="onSignIn()">
                <div *ngIf="loadingMessage">
                    <div class="alert alert-info" role="alert">
                        <div class="spinner-border spinner-border-sm text-dark" role="status"></div>
                        <p class="loading-message">{{ loadingMessage }}</p>
                    </div>
                </div>
               
                <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{ errorMessage }}</div>
                
                <div class="form-group mb-3">
                    <input type="text" class="form-control" formControlName="username" placeholder="Username" required>
                </div>
                <div class="form-group mb-3">
                    <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
                </div>
                <button class="btn btn-primary" type="submit">SIGN IN</button>
            </form>
        </div>
    </div>
</div>