
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <span class="navbar-text" (click)="signOut()">Sign Out</span>
      </div>
    </div>
  </nav>

  <div class="container">
      <div class="mb-3">
          <h3 class="mb-3">Overview</h3>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-12 mb-3">
              <div class="card">
                <div class="card-header text-center">Donut Chart</div>
                <div class="card-body mt-4">
                  <div id="pieChart" style="width: 100%; height: 500px"></div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-6 col-md-6 col-12 mb-3">
              <div class="card">
                <div class="card-header text-center">Bar Chart</div>
                <div class="card-body mt-4">
                  <div id="barChart" style="width: 100%; height: 500px"></div>
                </div>
            </div>
            </div>
        </div>
      </div>
     
      <div class="mb-3">
        <h3 class="mb-3">User List</h3>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">User Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.username }}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>